@use "./base.scss";

:root {
  direction: rtl;
}

body, html {
  font-family: 'IBM Plex Sans Arabic', 'Amiri', sans-serif;
  text-align: right;
  background-color: #ffffff;
  color: #000000;
}

.page {
  justify-content: flex-start; // تشفيت المحتوى لليمين
}

// تنسيق الهيدرز (Navbar)
.navbar {
  display: flex;
  gap: 1.5rem;
  margin: 1rem 0;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 1rem;
  flex-wrap: wrap;
}

.navbar a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 1.1rem;
}

.navbar a:hover {
  color: #666666;
}
